---
- hosts: localhost
  become: true

  tasks:
    - name: Prune Docker Images
      command: docker image prune -f
      ignore_errors: true

    - name: Prune Docker Containers
      command: docker container prune -f
      ignore_errors: true

    - name: Prune Docker Volumes
      command: docker volume prune -f
      ignore_errors: true

    - name: Shutdown and remove docker containers
      command: docker compose -f docker-compose.yaml down

    - name: Build new docker images
      command: docker compose -f docker-compose.yaml build

    - name: Tag frontend image
      command: docker tag dev-frontend uchepercynnoch/dev-frontend

    - name: Tag backend image
      command: docker tag dev-backend uchepercynnoch/dev-backend

    - name: Tag nginx image
      command: docker tag dev-nginx uchepercynnoch/dev-nginx

    - name: Push frontend image to dockerhub
      command: docker push uchepercynnoch/dev-frontend

    - name: Push backend image to dockerhub
      command: docker push uchepercynnoch/dev-backend

    - name: Push nginx image to dockerhub
      command: docker push uchepercynnoch/dev-nginx

    - name: Remove frontend images
      command: docker rmi dev-frontend uchepercynnoch/dev-frontend

    - name: Remove backend images
      command: docker rmi dev-backend uchepercynnoch/dev-backend

    - name: Remove nginx images
      command: docker rmi dev-nginx uchepercynnoch/dev-nginx
