---
- hosts: localhost
  become: true
  become_method: su
  become_user: uchenna

  tasks:
    - name: Deploy images on k8s cluster
      command: kubectl apply -f k8s
      args:
        chdir:  /opt/devops
