version: "3.9"
services:

  nginx:
    build:
      dockerfile: ../nginx/Dockerfile
      context: ../nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    container_name: hrms-nginx

  backend:
    build:
      dockerfile: ../backend/Dockerfile
      context: ../backend
    env_file:
      - ../backend/.env.docker.example
    container_name: hrms-backend

  frontend:
    stdin_open: true
    build:
      dockerfile: ../frontend/Dockerfile
      context: ../frontend
    env_file:
      - ../frontend/.env.docker.example
    container_name: hrms-frontend
